<?xml version="1.0" encoding="UTF-8" ?>

<widget  id = "com.YYYY.GIAproduction" version="0.3.2">
<platform name="android" />
<name>A.Garage</name>
<author  email="golodykov@yandex.ru"></author>
<preference name="Orientation" value="portrait" />
<preference name="HideKeyboardFormAccessoryBar" value="true"/>
 

</widget>